/Record of processed scenes.txt
/sam_array_remaining_job.sh
/sam_inference_job_01.sh
/sam_inference_job_02.sh
/sam_inference_job_03.sh
/sam_inference_job_04.sh
/sam_inference_job_05.sh
/sam_inference_job_06.sh
/sam_inference_job_07.sh
/sam_inference_job_08.sh
/sam_inference_job_09.sh
/sam_inference_job_10.sh
/sam_inference_job_11.sh
/sam_inference_job_12.sh
/sam_inference_job_13.sh
/sam_inference_job_14.sh
/sam_inference_job_15.sh
/sam_inference_job_16.sh
/sam_inference_job_17.sh
/sam_inference_job_18.sh
/sam_inference_job_19.sh
/sam_inference_job_20.sh
/sam_inference_job_21.sh
/sam_inference_job_22.sh
/sam_inference_job_23.sh
/sam_inference_job_24.sh
/sam_vit_h_4b8939.pth